

.post-content blockquote {
  margin: 0 0 0 calc(var(--gap) * -1);
  padding: 0 0 0 1rem;
  margin: 0 0 1rem;

  font-family: var(--serif);
  font-size: 1.3rem;
  line-height: 1.2;
  text-align: justify;


}

blockquote a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}
