.post-content dl.chad h4 {
    font-weight: 700;
    font-size: 1.5rem;
    font-style: normal;
}

@media only screen and (max-width: 480px) {
    /* horizontal scrollbar for tables if mobile screen */
    table, td {
        overflow-x: auto;
        width: auto;
    }
}
