{% macro page_in_list(page) %}
                    <header class="entry-header">
                        <h2>{{ page.title }}</h2>
                    </header>
                    {% if page.summary %}<section class=entry-content>
                        {{ page.summary | safe }}
                    </section>{% endif %}
                    <footer class="entry-footer">
                        <time>{{ page.date | date(format="%B %e, %Y") }}</time>
                    </footer>
                    <a class="entry-link" href="{{ page.permalink }}"></a>
{% endmacro page_in_list %}


{% macro toc(toc) %}
    <section class="toc">
        <h2>On this page</h2>
        <ol>
        {% for h1 in toc %}
            <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                {% if h1.children %}
                    <ol>
                        {% for h2 in h1.children %}
                            <li>
                                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </li>
        {% endfor %}
        </ol>
    </section>
{% endmacro toc %}
